body {
    background-color: #dddddd;
}

.logo {
    width: 100%;
}

.menu_link {
    color: #000000;
    text-decoration: none;
    padding: 10% 30%;
}

.menu_link:hover {
    background: #aaaaaa;
}

.menu_list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.menu_item {
    width: 30%;
    display: block;
}

.menu_f {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    top: 0;
}

.menu_f a{
    width: 15%;
}

.menu {
    width: 75%;
    text-align: center;
    margin-left: 20%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px;
}

.construction{
    width: 100%;
}

@media (max-width:1200px){
    .menu{
        margin-left: 5%;
    }
}

@media screen and (max-device-width:768px){
    .menu{
        display: none;
    }

    .menu_f {
        justify-content: center;
    }

    .menu_f a{
        width: auto;
        height: 80px;
    }

    .logo{
        width: auto;
        height:100%;
    }
}