html{
    width: 100%;
    height: 100%;
    background-color: black;
}

body{
    
    margin: 0;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tools{
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #0000007e;
}

.home{
    width: 50px;
    height: 50px;
}

#song_img{
    height: 100%;
    position: relative;
    z-index: 0;
}

.slider{
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: #0000007e;
}

.title{
    width: 98%;
    margin: auto auto auto 2%;
}

#name{
    color: #ffffff;
    font-size: xx-large;
    margin: 20px auto;
}

.time{
    width: 98%;
    margin: 0 1% 0 1%;
}

.bt{
    width: 40px;
    height: 40px;
    background: none;
    padding: 0;
    border: 0;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
}

#play{
    width: 100%;
    height: 100%;
    outline: none;
}

#play_path{
    stroke-width: 3px;
    stroke-linecap: round;
    outline: none;
    fill: #ffffff;
}

#play:hover #play_path{
    stroke: #ff8808;
}

#pause{
    width: 100%;
    height: 100%;
    outline: none;
}

#pause_path{
    stroke-width: 3px;
    stroke-linecap: round;
    outline: none;
}

#pause:hover #pause_path{
    stroke: #ff8808;
}

#next{
    width: 100%;
    height: 100%;
    outline: none;
}

#next_path{
    stroke-width: 3px;
    stroke-linecap: round;
    outline: none;
}

#next:hover #next_path{
    stroke: #ff8808;
}